* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-top: 20px;
  text-align: center;
  color: rgb(87 153 225);
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px 0px 2px 0px;
  color: white;
}

h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

label {
  font-family: monospace;
  color: rgb(109, 105, 142);
  width: 150px;
}
label:after {
  content: ': ';
}
form input {
  width: 170px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

/* input::file-selector-button {
  background-color: rgb(14, 14, 14);
  border-radius: 5px;
  border: none;
  padding: 5px;
} */

button {
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  background-color: rgb(147, 191, 191);
  justify-content: center;
  width: 50px;
}

/* FORM */
.form-container {
  margin: 0 auto;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgb(18 18 18);
}

.form-content {
  padding: 25px 25px 15px 25px;
}

.input-box {
  width: 100%;
  max-width: 600%;
  margin: 5px;
  display: flex;
}

.bor-m {
  border: none;
  margin: 3px 5px;
}

#image-file {
  color: rgb(0, 0, 0);
  padding: 3px;
}

/*.posterL {
  display: block;
  width: 200px;
  background-color: #e3362c;
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}*/

/* MOVIE CARD */

#grid-Container {
  margin-top: 10px;
  margin: 10px;
  display: grid;
  /* width: 300px; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.grid-box {
  width: 220px;
  font-family: monospace;
  color: white;
  background-color: rgb(18 18 18);
  display: inline;
  gap: 10px;
  padding: 15px;
}

.img-tag {
  width: 190px;
  height: 285px;
}

.info-tag {
  text-align: start;
  margin-top: 10px;
}

.btn-tag {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

.title {
  text-align: center;
  background-color: bisque;
  color: black;
}

@media only screen and (max-width: 1190px) {
  #grid-Container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 990px) {
  #grid-Container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  #grid-Container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  #grid-Container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 567px) {
  .input-box {
    display: block;
    width: 100%;
    max-width: 500px;
  }
  label {
    padding: 10px 0;
    width: 90%;
  }

  .form-container {
    width: 100%;
  }
  .input-box input {
    display: inline;
    width: 90%;
    margin-top: 0;
  }
}
